::-moz-selection { /* Code for Firefox */
    color: white;
    background: #1a7a81;
}
::selection {
    color: white;
    background: #1a7a81;
}
#measur tr:hover {
    background-color: #5EBEC4;
    color: #ffffff;
}
body {
    background-color: #FDF5DF; 
    color:#204042;
}
h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    color:#3c3c3c;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: x-large;
}
#measur {
    font-family: Verdana, Arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    text-align: center;
}
#measur td, #measur th {
    padding: 8px;
}
#measur td {
border: 1px solid #8ad5db;
}
#measur th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ec9daa;
    color: #460d25;
    text-align: center;
}
.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

div {
    padding-top: 15px;
}
h4{
    padding-top: 15px;
}
p{
    alignment: left;
}