<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Виміри значень з сенсорів</title>
    {% load static %}  
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<h1>Виміри значень з сенсорів</h1>
<table id="measur">
    <tr>
        <th>Дата</th>
        <th>Вологa</th>
    </tr>
    {% for measurement in humidity %}
    <tr>
        <td>{{measurement.dateTime}}</td>
        <td>{{measurement.humidity}}</td>
      
    </tr>
{% endfor %}
</table>

<table id="measur">
    <tr>
        <th>Дата</th>
        <th>Тиск</th>
    </tr>
{% for measurement in pressure %}
    <tr>
        <td>{{measurement.dateTime}}</td>
        <td>{{measurement.pressure}}</td>
    </tr>
{% endfor %}
</table>

<table id="measur">
    <tr>
        <th>Дата</th>
        <th>Температура</th>
    </tr>
{% for measurement in temperature %}
    <tr>
        <td>{{measurement.dateTime}}</td>
        <td>{{measurement.temperature}}</td>
    </tr>
{% endfor %}
</table>
{{analytics|safe}}
</body>
</html>